@model HospitalProject.Models.Visit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Doctor Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.Name)
        </dd>

        <dt> Patient Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complaint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complaint)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
